schema/oms.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SimulationInformation">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="FixedStepMaster">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="description"/>
                <xs:attribute type="xs:float" name="stepSize"/>
                <xs:attribute type="xs:float" name="absoluteTolerance"/>
                <xs:attribute type="xs:float" name="relativeTolerance"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
        <xs:element name="VariableStepSolver">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="description"/>
                <xs:attribute type="xs:float" name="absoluteTolerance"/>
                <xs:attribute type="xs:float" name="relativeTolerance"/>
                <xs:attribute type="xs:float" name="minimumStepSize"/>
                <xs:attribute type="xs:float" name="maximumStepSize"/>
                <xs:attribute type="xs:float" name="initialStepSize"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute type="xs:string" name="resultFile"/>
      <xs:attribute type="xs:float" name="loggingInterval"/>
      <xs:attribute type="xs:byte" name="bufferSize"/>
      <xs:attribute type="xs:string" name="signalFilter"/>
    </xs:complexType>
  </xs:element>
</xs:schema>