schema/oms.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" 
    targetNamespace="https://raw.githubusercontent.com/OpenModelica/OMSimulator/master/schema/oms.xsd">
  <xs:element name="SimulationInformation">
    <xs:complexType>
      <xs:sequence minOccurs="0">
        <xs:element minOccurs="0" name="VariableStepSolver">
          <xs:complexType>
            <xs:attribute name="description" type="xs:string" use="required" />
            <xs:attribute name="absoluteTolerance" type="xs:decimal" use="required" />
            <xs:attribute name="relativeTolerance" type="xs:decimal" use="required" />
            <xs:attribute name="minimumStepSize" type="xs:decimal" use="required" />
            <xs:attribute name="maximumStepSize" type="xs:decimal" use="required" />
            <xs:attribute name="initialStepSize" type="xs:decimal" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="FixedStepMaster">
          <xs:complexType>
            <xs:attribute name="description" type="xs:string" use="required" />
            <xs:attribute name="stepSize" type="xs:decimal" use="required" />
            <xs:attribute name="absoluteTolerance" type="xs:decimal" use="required" />
            <xs:attribute name="relativeTolerance" type="xs:decimal" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="resultFile" type="xs:string" />
      <xs:attribute name="loggingInterval" type="xs:decimal" />
      <xs:attribute name="bufferSize" type="xs:int" />
      <xs:attribute name="signalFilter" type="xs:string" />
    </xs:complexType>
  </xs:element>
</xs:schema>